[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
joblib = "*"
pandas = "*"
pyarrow = "*"
prompt-toolkit = "*"
rich = "*"
python-dotenv = "*"

[dev-packages]
black = "*"
pytest = "*"
isort = "*"

[requires]
python_version = "3.12"
